@font-face {
  font-family: 'Nosifer';
  font-style: normal;
  font-weight: 400;
  src: local("Nosifer"), local("Nosifer-Regular"), url("http://themes.googleusercontent.com/static/fonts/nosifer/v2/7n0ZFTD4V11-kkhjuR2UIwLUuEpTyoUstqEm5AMlJo4.woff") format("woff"); }

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: normal;
  src: local("Anonymous Pro"), local("AnonymousPro"), url("http://themes.googleusercontent.com/static/fonts/anonymouspro/v3/Zhfjj_gat3waL4JSju74E2hf89WnxcRaqxnpCB_GMi0.woff") format("woff"); }

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: normal;
  src: local("Arimo"), url("http://themes.googleusercontent.com/static/fonts/arimo/v3/ZS0wkeOZuckNE3boyLYNt6CWcynf_cDxXwCLxiixG1c.woff") format("woff"); }

@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: normal;
  src: local("Special Elite"), local("SpecialElite-Regular"), url("http://themes.googleusercontent.com/static/fonts/specialelite/v3/9-wW4zu3WNoD5Fjka35Jm4kaQb-UsZVONjobs91YQtw.woff") format("woff"); }

body {
  background-color: #fffeee;
  color: #555555;
  font-family: "Special Elite", serif;
  line-height: 1.5em; }

h1, h2 {
  margin: 0;
  padding: .5em; }

h1 {
  color: #555555; }

h2 {
  color: #e43d3d;
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: rgba(85, 85, 85, 0.65); }

pre, code {
  border-width: 1px;
  border-style: dashed;
  border-color: #e43d3d;
  font-family: "Anonymous Pro", monospace;
  padding: .15em .35em;
  margin: 0 .25em; }

pre {
  overflow: scroll; }

pre code {
  border-width: 0; }

body > section {
  padding: 0 1em; }

body > section > section {
  background-color: #fffeee; }
