@font-face {
  font-family: 'Nosifer';
  font-style: normal;
  font-weight: 400;
  src: local("Nosifer"), local("Nosifer-Regular"), url("http://themes.googleusercontent.com/static/fonts/nosifer/v2/7n0ZFTD4V11-kkhjuR2UIwLUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: bold;
  src: local("Anonymous Pro Bold"), local("AnonymousPro-Bold"), url("http://themes.googleusercontent.com/static/fonts/anonymouspro/v3/WDf5lZYgdmmKhO8E1AQud6bFb7dg54i-VmmWhYOQ_f4.woff") format("woff");
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: normal;
  src: local("Anonymous Pro Italic"), local("AnonymousPro-Italic"), url("http://themes.googleusercontent.com/static/fonts/anonymouspro/v3/q0u6LFHwttnT_69euiDbWD5Cha8LoWvgx12Qrck9dWM.woff") format("woff");
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: bold;
  src: local("Anonymous Pro Bold Italic"), local("AnonymousPro-BoldItalic"), url("http://themes.googleusercontent.com/static/fonts/anonymouspro/v3/_fVr_XGln-cetWSUc-JpfKJE2wVFcEsdJKhjc97P7F0.woff") format("woff");
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: normal;
  src: local("Anonymous Pro"), local("AnonymousPro"), url("http://themes.googleusercontent.com/static/fonts/anonymouspro/v3/Zhfjj_gat3waL4JSju74E2hf89WnxcRaqxnpCB_GMi0.woff") format("woff");
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: normal;
  src: local("Arimo"), url("http://themes.googleusercontent.com/static/fonts/arimo/v3/ZS0wkeOZuckNE3boyLYNt6CWcynf_cDxXwCLxiixG1c.woff") format("woff");
}

@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: normal;
  src: local("Special Elite"), local("SpecialElite-Regular"), url("http://themes.googleusercontent.com/static/fonts/specialelite/v3/9-wW4zu3WNoD5Fjka35Jm4kaQb-UsZVONjobs91YQtw.woff") format("woff");
}

body {
  background-color: #fffeee;
  color: #555555;
  font-family: "Special Elite", serif;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ropa Sans';
}

h1, h2 {
  margin: 0;
  padding: .5em;
  letter-spacing: -0.05em;
}

h1 {
  color: #e43d3d;
  text-shadow: 1px 1px 0px #555555;
  font-size: 2.25em;
}

h2 {
  font-style: italic;
  color: #555555;
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: rgba(85, 85, 85, 0.65);
}

h2 a {
  color: #555555;
}

h5 {
  margin: 0.25em 0;
}

a, a:visited {
  color: #bb1a1a;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none;
}

strong {
  color: #904444;
}

hr {
  display: none;
}

pre, code {
  background-color: #fdfbd7;
  font-family: "Anonymous Pro", monospace;
  font-size: .95em;
  padding: .15em .35em;
  margin: 0 .25em;
  color: #484848;
}

pre {
  border-width: 1px;
  border-style: dotted;
  border-color: #555555;
}

pre {
  overflow: scroll;
}

pre code {
  border-width: 0;
}

body > section {
  padding: 0 1em;
}

body > section.level1 {
  box-shadow: 0 7px 10px 5px #ccc;
  border: 1px solid #555555;
  border-radius: 1em;
  margin: 1em .5em 4em .5em;
}

body > section > section {
  background-color: #fffeee;
}

section.level2 {
  margin-bottom: .5em;
}

section[id^="instead"] {
  float: left;
  width: 45%;
  clear: left;
  margin-bottom: 1em;
}
section[id^="instead"]:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}

section[id^="use"] {
  float: right;
  clear: right;
  width: 45%;
  margin-bottom: 1em;
  border-bottom: 1px;
}
section[id^="use"]:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}

section[id^="level-up"] {
  float: right;
  width: 30%;
  margin: 0 1%;
  padding: 0 1%;
  box-shadow: 2px 8px 4px 1px #a2a2a2;
  background-color: #d5d3b2;
  color: #3b3b3b;
  text-shadow: 1px 1px 0px #fff;
}
section[id^="level-up"] p {
  text-transform: uppercase;
}
section[id^="level-up"] h2, section[id^="level-up"] h3 {
  font-style: normal;
  font-family: "Special Elite", serif;
  border-bottom: none;
  padding: .5em 0 0 0;
  text-align: center;
  text-transform: uppercase;
  color: #555555;
}
section[id^="level-up"] h2:before, section[id^="level-up"] h3:before {
  content: "****";
  font-size: .75em;
  padding-right: .5em;
}
section[id^="level-up"] h2:after, section[id^="level-up"] h3:after {
  content: "****";
  font-size: .75em;
  padding-left: .5em;
}
section[id^="level-up"] h3 {
  color: #e43d3d;
}

section[id^="step"] > h2 {
  margin-left: -1.5em;
  background-color: #6e6e6e;
  color: #fffeee;
  border-bottom: none;
  text-shadow: 1px 1px 0px #555555;
}
section[id^="step"] > h2 a {
  color: #fffeee;
}
section[id^="step"] > section {
  margin-left: 1.5em;
}
section[id^="step"] ol {
  counter-reset: listnumbering;
  list-style: none outside none;
}
section[id^="step"] ol li {
  margin: 2em 0;
}
section[id^="step"] ol li:before {
  font-size: 1.5em;
  color: #555555;
  content: "" counter(listnumbering, decimal);
  counter-increment: listnumbering;
  float: left;
  width: 1.5em;
  height: 1.5em;
  margin: -0.35em 0.5em 0 -1em;
  line-height: 1.75em;
  border-radius: 3em;
  text-align: center;
  background-color: #fffeee;
  border: 1px dashed #555555;
}

section[id^="resources"] h2 {
  border-left: 8px solid #e43d3d;
  border-color: #e43d3d;
}

section[id^="do-this"] > h3:before, section[id^="do-this"] > h4:before {
  font-size: 2em;
  color: #e43d3d;
}

section[id^="snippet"] {
  clear: both;
  padding: 0em 1em;
  border-radius: 1em;
  border: 1px dotted #555555;
  margin: .5em;
}
section[id^="snippet"]:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}

nav#TOC {
  box-shadow: 0 7px 10px 5px #ccc;
  border: 1px solid #555555;
  border-radius: 1em;
  margin: 1em .5em 4em .5em;
}
nav#TOC ul > li > ul {
  display: none;
}
nav#TOC:before {
  display: block;
  content: "On This Page";
  padding: 1em 1em 0 1em;
  font-family: 'Ropa Sans';
  font-size: 1.25em;
}

section[id^="done"] ul li {
  list-style-type: none;
  margin-left: 1.5em;
}
section[id^="done"] ul li:before {
  content: "\2713";
  color: #e43d3d;
  font-size: 2em;
  margin-left: -1em;
  padding-right: .5em;
}

.snippet h2, .snippet h3 {
  color: #e43d3d;
  cursor: pointer;
}

.snippet h3:before {
  content: "\25B8";
  font-size: 1.5em;
  margin-right: .5em;
  width: 2em;
  color: #555555;
}

.snippet.open h3:before {
  content: "\25BE";
}
