@mixin ghetto-clearfix {
  &:after {
    content:            ' ';
    display:            block;
    height:             0;
    clear:              both;
  }
  zoom:                 1;
}

@font-face {
  font-family: 'Nosifer';
  font-style: normal;
  font-weight: 400;
  src: local('Nosifer'), local('Nosifer-Regular'), url('http://themes.googleusercontent.com/static/fonts/nosifer/v2/7n0ZFTD4V11-kkhjuR2UIwLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: bold;
  src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'), url('http://themes.googleusercontent.com/static/fonts/anonymouspro/v3/WDf5lZYgdmmKhO8E1AQud6bFb7dg54i-VmmWhYOQ_f4.woff') format('woff');
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: normal;
  src: local('Anonymous Pro Italic'), local('AnonymousPro-Italic'), url('http://themes.googleusercontent.com/static/fonts/anonymouspro/v3/q0u6LFHwttnT_69euiDbWD5Cha8LoWvgx12Qrck9dWM.woff') format('woff');
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: bold;
  src: local('Anonymous Pro Bold Italic'), local('AnonymousPro-BoldItalic'), url('http://themes.googleusercontent.com/static/fonts/anonymouspro/v3/_fVr_XGln-cetWSUc-JpfKJE2wVFcEsdJKhjc97P7F0.woff') format('woff');
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Anonymous Pro'), local('AnonymousPro'), url('http://themes.googleusercontent.com/static/fonts/anonymouspro/v3/Zhfjj_gat3waL4JSju74E2hf89WnxcRaqxnpCB_GMi0.woff') format('woff');
}
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: normal;
  src: local('Arimo'), url('http://themes.googleusercontent.com/static/fonts/arimo/v3/ZS0wkeOZuckNE3boyLYNt6CWcynf_cDxXwCLxiixG1c.woff') format('woff');
}

@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: normal;
  src: local('Special Elite'), local('SpecialElite-Regular'), url('http://themes.googleusercontent.com/static/fonts/specialelite/v3/9-wW4zu3WNoD5Fjka35Jm4kaQb-UsZVONjobs91YQtw.woff') format('woff');
}

$color-background:#000;
$color-body:#fff;
$color-accent:rgb(228,61,61);
$color-quiet:#ccc;
$color-dark:#555;
$body-font:"Special Elite", serif;
$accent-font:"Nosifer", cursive;
$code-font:"Anonymous Pro", monospace;
$color-warm:rgb(255,254,238);