@import 'common';

body {
  background-color:     $color-background;
  color:                $color-warm;
  font-family:          $body-font;
  line-height:          1.6em;
}

h1 {
  font-family:          $accent-font;
  color:                $color-accent;
  text-shadow:          3px 3px 5px #300;
  font-weight:          400;
}

h2 {
  color:                $color-accent;
  font-size:            1.25em;
}

h3 {
  text-transform:       uppercase;
  &:before {
    content:            "**";
  }
  &:after {
    content:            "**";
  }
}

h4 {
  text-transform:       uppercase;
}

h5 {
  margin:               0;
  font-size:            .5em;
  font-weight:          normal;
}

a, a:visited {
  color:                $color-accent !important;
}

em {
  border-bottom:        1px dashed $color-accent;
}

code, pre {
  font-family:          $code-font;
}

pre code, pre {
  background-color:     lighten($color-background, 10%);
}

code {
  padding:              .15em;
  margin:               0 .15em;
  font-family:          $code-font;
  white-space:          nowrap;
  overflow:             scroll;
  background-color:     lighten($color-background, 12%);
}

pre {
  overflow:             scroll;
  border-width:         1px;
  border:               1px solid $color-accent;

}

pre code {
  border-width:         0px;
  font-size:            .75em;
  white-space:          pre;
  color: #fff;
}

blockquote {
  line-height:          1.2em;
}

li ul li {
  font-style:           normal;
}

div[id^="done"] {
  ul {    
    li {
      list-style-type: none;
      margin-left: 1.5em;
      &:before {
        content: "\2713";
        color:   $color-accent;
        font-size: 2em;
        margin-left: -1em;
        padding-right: .5em;
      }
    }
  }
}

div[id^="speaker-notes"] {
  display: none;
}

div.slide {
  line-height:            1.5em;
  font-size:              1.25em;
  h1 {
    margin:               .5em;
  }
  img {
    padding:            .5em;
    border:             1px dashed $color-accent;
    max-width:            20%;
    margin:               0 1em;
  }
  p img {
    float: right;
  }
  img[alt^='Big'], p img[alt^='Big'] {
    max-width:            85%;
    max-height:           65%;
    float:                none;
  }
  div.figure {
    float:                right;
    margin-right:         1em;
    width:                40%;
    max-width:            50%;
    img {
      max-width:          100%;
      max-height:         65%;
    }
  }
  div[id^="figure"] {
    max-width:            100%;
    text-align:           center;
    & h2, & h3 {
      display: none;
    }
    div.figure {
      width:              100%;
      max-width:          100%;
    }
    img {
      border: none;
      max-width:          100%;
      max-height:         70%;
      float: none;
    }
  }
  
  div[id^="code"] {
    h1, h2, h3, h4, h5, h6 {
      display:            none;
    }
    & pre {
      font-size:          .65em;
      line-height:        .9em;
    }
  }
  div[id^="instead"] {
    float:                left;
    width:                45%;
    clear:                left;
  }
  div[id^="use"] {
    float:                right;
    width:                45%;
    clear:                right;
  }
  div[id^="use"]+div, div[id^="use"] > div {
    clear:                both;
  }
}

div.toolbar {
  height:               1em;
  font-size:            .5em;
  background-color:     $color-warm;
  line-height:          1em;
  padding:              .5em;
}
pre code.sourceCode { color: #fcf9f9; text-shadow: 1px 1px 1px #000; font-size: .85em; line-height: 1.75em; font-weight: 400;}
code > span.kw { color: desaturate(#E43D3D, 20%); font-weight: 800; }
code > span.dt, 
code > span.dv, 
code > span.bn, 
code > span.fl,
code > span.ch,
code > span.st { color: #B8A3D8; }

code > span.co { color: invert(#60a0b0); font-style: italic; }
code > span.ot { color: desaturate(#E43D3D, 20%); }
code > span.al { color: invert(#ff0000); font-weight: bold; }
code > span.fu { color: #F9D781;  }
code > span.er { color: invert(#ff0000); font-weight: bold; }