@import 'common';

body {
  background-color:     $color-background;
  color:                $color-warm;
  font-family:          $body-font;
  line-height:          1.6em;
}

h1 {
  font-family:          $accent-font;
  color:                $color-accent;
  text-shadow:          3px 3px 5px #300;
}

h2 {
  color:                $color-accent;
  font-size:            1.25em;
}

h3 {
  text-transform:       uppercase;
  &:before {
    content:            "**";
  }
  &:after {
    content:            "**";
  }
}

a, a:visited {
  color:                $color-accent;
}

code, pre {
  font-family:          $code-font;
}

code {
  padding:              .15em;
  margin:               0 .15em;
  font-family:          $code-font;
  border:               1px dashed $color-accent;
}

pre {
  overflow:             scroll;
  border-width:         1px;
  border:               1px solid $color-accent;
  color:                $color-background;
}

pre code {
  border-width:         0px;
  font-size:            .75em;
}

blockquote {
  line-height:          1.2em;
}

li ul li {
  font-style:           normal;
}

div[id^="speaker-notes"] {
  display: none;
}

div.slide {
  line-height:            1.5em;
  font-size:              1.25em;
  h1 {
    margin:               .5em;
  }
  img {
    max-width:            20%;
    margin:               0 1em;
  }
  p img {
    float: right;
  }
  img[alt^='Big'], p img[alt^='Big'] {
    max-width:            85%;
    max-height:           65%;
    float:                none;
  }
  div.figure {
    float:                right;
    margin-right:         1em;
    width:                40%;
    max-width:            50%;
    img {
      max-width:          100%;
      max-height:         65%;
    }
  }
  div[id^="figure"] {
    max-width:            100%;
    text-align:           center;
    & h2, & h3 {
      display: none;
    }
    div.figure {
      width:              100%;
      max-width:          100%;
    }
    img {
      max-width:          100%;
      max-height:         70%;
      float: none;
    }
  }
  div[id^="instead"] {
    float:                left;
    width:                45%;
  }
  div[id^="use"] {
    float:                right;
    width:                45%;
  }
}

div.toolbar {
  height:               1em;
  font-size:            .5em;
  background-color:     $color-warm;
  line-height:          1em;
  padding:              .5em;
}
