@import 'common';

body {
  background-color:     $color-background;
  color:                $color-warm;
  font-family:          $body-font;
  line-height:          1.6em;
}

h1 {
  font-family:          $accent-font;
  color:                $color-accent;
  text-shadow:          3px 3px 5px #300;
  font-weight:          400;
  div.slide & {
    margin:               0;
    padding:              .5em .25em 0 .5em;
    background:           -webkit-linear-gradient(top, #000 0%, #3a3333 100%);
    border-bottom:        1px solid $color-accent;
  }
  
}

h2 {
  color:                $color-accent;
  font-size:            1.25em;
}

h3 {
  text-transform:       uppercase;
  &:before {
    content:            "**";
  }
  &:after {
    content:            "**";
  }
}

h4 {
  text-transform:       uppercase;
}

h5 {
  margin:               0 0 0 1em;
  font-size:            .5em;
  font-weight:          normal;
}

a, a:visited {
  color:                $color-accent !important;
}

em {
  border-bottom:        1px dashed $color-accent;
}

code, pre {
  font-family:          $code-font;
}

/* Deal with pre/code */
pre code, pre {
  background-color:     lighten($color-background, 10%);
}

code {
  margin:               0 .15em;
  font-family:          $code-font;
  white-space:          nowrap;
  overflow:             scroll;
  background-color:     lighten($color-background, 12%);
}

pre {
  overflow:             scroll;
  border-width:         1px;
  border:               1px solid $color-accent;

}

pre code {
  border-width:         0px;
  font-size:            .75em;
  white-space:          pre;
  color: #fff;
}
/* END */

blockquote {
  line-height:          1.4em;
}

li ul li {
  font-style:           normal;
}



div[id^="speaker-notes"] {
  display: none;
}

div.slide {
  line-height:            1.5em;
  font-size:              1.25em;
  padding-left:           0;
  padding-right:          0;
  
  div[id^="code"] {
    h1, h2, h3, h4, h5, h6 {
      display:            none;
    }
    & pre, .sourceCode {
      font-size:          .7em;
      line-height:        1em;
    }
  }
  
  ul {
    margin-top: 1em;
    list-style-type: none;
    li {
      list-style: none;
      &:before {
        content: '\272a';
        color: $color-accent;
        margin-right: .5em;
      }
    }
  }
  div[id^="instead"] {
    float:                left;
    width:                45%;
    clear:                left;
  }
  div[id^="use"] {
    float:                right;
    width:                45%;
    clear:                right;
  }
  div[id^="use"]+div, div[id^="use"] > div {
    clear:                both;
  }
  div.figure { // Default image placement (left)
    border: 3px solid $color-accent;
    margin: .5em 2em .5em .5em;
    float: left;
    padding: 1em 1em .5em 1em;
    background-color: $color-warm;
    max-width: 40%;
    img {
      padding: 0;
      background-color: black;
      max-width: 100%;
      max-height: 75%;
      box-shadow: 10px 15px 25px #aaa;
    }
    p.caption {
      font-size: .6em;
      color: $color-dark;
      margin: 0;
      text-align: center;
      text-shadow: 1px 1px 2px #000;
    }
  }
  div[id^='figure'] {
    & h1, & h2, & h3 {
      display: none;
    }
    div.figure {
      width: 100%;
      max-width: 100%;
      text-align: center;
      border: none;
      margin: 0;
      background: none;
      img {
        max-height: 70%;
        max-width: 100%;
        box-shadow: none;
        border: 2px solid $color-accent;
        box-shadow: 10px 20px 40px #544;
      }
      p.caption {
        color: $color-warm;
      }
    }  
  }
  p.caption {
    line-height: 1.1em;
  }

  div[id^='illustration'] { // Full-width images
    & h1, & h2, & h3 {
      display: none;
    }
    div.figure {
      width: 100%;
      max-width: 100%;
      text-align: center;
      border: none;
      margin: 0;
      background: none;
      img {
        max-width: 100%;
        box-shadow: none;
      }
    }
  }
  div[id^='reverse'] { // Float image right
    & div.figure {
      float: right;
      margin: 0.5em .5em .5em .5em;
    }
    & h1, & h2, & h3 {
      display: none;
    }
  }
  div[id^='big'] {
    & h1, & h2, & h3 {
      display: none;
    }
    & div.figure {
      max-width: 55%;
      padding: .25em;
      float: right;
      margin: 0 0.5em .5em .5em;
      img {
        box-shadow: none;
      }
    }   
  }
}
div[id^="done"] {
  ul {    
    li {
      list-style-type: none;
      margin-left: 1.5em;
      &:before {
        content: "\2713";
        color:   $color-accent;
        font-size: 2em;
        margin-left: -1em;
        padding-right: .5em;
      }
    }
  }
}

div.toolbar {
  height:               1em;
  font-size:            .5em;
  background-color:     $color-warm;
  line-height:          1em;
  padding:              .5em;
}


pre code.sourceCode { color: #fcf9f9; text-shadow: 1px 1px 1px #000; font-size: .85em; line-height: 1.75em; font-weight: 400;}
code > span.kw { color: desaturate(#E43D3D, 20%); font-weight: 800; }
code > span.dt, 
code > span.dv, 
code > span.bn, 
code > span.fl,
code > span.ch,
code > span.st { color: #B8A3D8; }

code > span.co { color: invert(#60a0b0); font-style: italic; }
code > span.ot { color: desaturate(#E43D3D, 20%); }
code > span.al { color: invert(#ff0000); font-weight: bold; }
code > span.fu { color: #F9D781;  }
code > span.er { color: invert(#ff0000); font-weight: bold; }